@import '../layouts/variables.scss';

.home__hero {
  left: 0px;
  img { max-width: 200%; width: 200%; max-height: 100%; }
}

.home__how-it-works {
  position: relative;
  .launch {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: auto;
      display: block;
      margin:0;
    }
    .contents {
      position: absolute;
      top: 75px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 550px;
      margin: 0 auto;
      text-align: center;
      color: #fff;
    }
  }
  .intro {
    margin-top: 0px;
    .contents {

    }
  }
  .step-one {
    margin-top: 0px;
    .contents {
      .column:nth-child(1) {
        background-image: url('../assets/illustrations/11_Native_Website_Home_Howitworks_JOIN_V02.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 550px;
      }
      .column:nth-child(2) {
        padding: 50px;
        @media (max-width: $tablet) {
          padding-top: 0px;
          margin-top: -50px;
        }
      }
    }
  }
  .step-two {
    .contents {
      @media (max-width: $tablet) {
        flex-direction: column-reverse;
      }
      .column:nth-child(1) {
        padding: 50px;
        @media (max-width: $tablet) {
          padding-top: 0px;
          margin-top: -50px;
        }
      }
      .column:nth-child(2) {
        background-image: url('../assets/illustrations/12_Native_Website_Home_Howitworks_PARTICIPATE_V02.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 550px;
      }
    }
  }
  .step-three {
    position: relative;
    img {
      width: 100%;
      display: block;
      margin: 0px;
      @media (max-width: $tablet) {
        padding-top: 150px;
      }
    }
    .contents {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      @media (max-width: $tablet) {
        margin-top: -150px;
      }

      .column:nth-child(1) {
        height: 550px;
        @media (max-width: $tablet) {
          display: none;
        }
      }
      .column:nth-child(2) {
        padding: 50px;
        @media (max-width: $tablet) {
          padding-top: 0px;
          margin-top: -50px;
        }
      }
    }
  }
}

.home__creator {
  padding-bottom: 0px;
  .contents {
    padding-bottom: 0px;
    .column:nth-child(1) {
      background-image: url('../assets/illustrations/03_Native_Website_Home_MasterCreator_V06.png');
      width: 50%;
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      height: 550px;
      padding: 0px;
    }
    .column:nth-child(2) {
      width: 50%;
    }
  }
}
