@import '../layouts/variables.scss';

.home__hero {
  left: 0px;
  .preload-image {
    background-image: url('../assets/animations/01_HOME_BANNER_ANIM_1st_frame.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    opacity: 0;
  }
  svg {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    @media (max-width: 1200px) {
      padding-top: 150px;
    }
    @media (max-width: $tablet) {
      padding-top: 200px;
    }
    @media (max-width: $phone) {
      padding-top: 300px;
    }
  }
  .contents {
    flex-basis: 100%;
    width: 100%;
    max-width: calc(100%);
    padding: 150px;
    .panel {
      width: 460px;
      &.launch__panel {
        width: 400px;
      }
      @media (max-width: $phone) {
        width: 320px;
      }
    }
    .build__panel {
      // z-index: 1;
      position: absolute;
      text-align: left;
      @media (max-width: $tablet) {
        right: 0px;
        text-align: center;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .launch__panel {
      // z-index: 2;
      position: absolute;
      text-align: center;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
    }

    .empower__panel {
      // z-index: 3;

      position: absolute;
      text-align: right;
      right: 150px;
      @media (max-width: $tablet) {
        right: 0px;
        text-align: center;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.home__how-it-works {
  position: relative;
  .launch {
    width: 100%;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#56c1b6+49,f9f8f4+51 */
    background: #56c1b6; /* Old browsers */
    background: -moz-linear-gradient(top, #56c1b6 49%, #f9f8f4 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #56c1b6 49%,#f9f8f4 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #56c1b6 49%,#f9f8f4 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56c1b6', endColorstr='#f9f8f4',GradientType=0 ); /* IE6-9 */
    img {
      width: 100%;
      max-height: 100%;
      height: auto;
      display: block;
      margin-bottom: 0px;
    }
    svg {
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      margin: 0px;
      display: block;
    }
    .contents {
      position: absolute;
      top: 75px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      @media (max-width: $tablet) {
        padding-top: 300px;
        color: #333;
        width: calc(100% - 50px);
      }
      .button-group {
        display: flex;
        flex-wrap: wrap;
        width: 550px;
        position: relative;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
        @media (max-width: $tablet) {
          width: 100%;
        }
        .button {
         flex-basis: 45%;
         @media (max-width: $tablet) {
           flex-basis: 100%;
           width: 100%;
           margin: 15px auto;
         }
        }
        .button.quick-start {
          background-color: rgba(255,255,255,1);
          color: $ntv-sky;
          @media (max-width: $tablet) {
            background-color: $ntv-sky;
            color: rgba(255,255,255,1);
          }
        }

      }
    }
  }
  .intro {
    margin-top: 0px;
    .contents {
      @media (max-width: $tablet) {
        padding-top: 450px;
        padding-bottom: 25px;
      }
      @media (max-width: $phone) {
        padding-top: 550px;
        padding-bottom: 25px;
      }
    }
  }
  .step-one {
    margin-top: 0px;
    .contents {
      @media (max-width: $tablet) {
        flex-direction: column-reverse;
      }
      .column:nth-child(1) {
        height: 550px;
        svg {}
      }
      .column:nth-child(2) {
        padding: 100px;
        @media (max-width: $tablet) {
          padding: 0px 50px 50px 50px;
          margin-top: -50px;
        }
      }
    }
  }
  .step-two {
    .contents {
      padding-top: 100px;
      padding-bottom: 100px;
      @media (max-width: $tablet) {
        flex-direction: column;
      }
      .column:nth-child(1) {
        padding: 100px;
        @media (max-width: $tablet) {
          padding: 0px 50px 50px 50px;
          margin-top: -50px;
        }
      }
      .column:nth-child(2) {
        height: 550px;
        svg { }
      }
    }
  }
  .step-three {
    position: relative;
    @media (max-width: $tablet) {
      padding-top: 200px;
    }
    svg {
      width: 100%;
      display: block;
      padding-top: 250px;
      margin-bottom: 0px;
      @media (max-width: $tablet) {
        padding-top: 200px;
      }

    }
    .contents {
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      margin: 0 auto;
      @media (max-width: $tablet) {
        top: 100px;
        width: 100%;
      }

      .column:nth-child(1) {
          display: none;
      }
      .column:nth-child(2) {
        padding: 50px;
        width: 100%;
        text-align: center;
        max-width: 480px;
        @media (max-width: $tablet) {
          max-width: 100%;
          padding-top: 0px;
          margin-top: -50px;
        }
      }
    }
  }
}

.home__creator {
  padding-top: 0px;
  padding-bottom: 0px;
  .contents {
    padding-top: 35px;
    padding-bottom: 0px;
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
    .column:nth-child(1) {
      width: 50%;
      padding: 0px;
      svg {
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        margin: 0px;
        display: block;
      }
      @media (max-width: $tablet) {
        width: 100%;
      }
    }
    .column:nth-child(2) {
      width: 50%;
      p {
        margin-top: 0px;
        margin-bottom: 50px;
      }
      a {
        margin-top: 75px;
      }
      @media (max-width: $tablet) {
        width: 100%;
      }
    }
  }
}
