@import '../layouts/variables.scss';

.hiw__hero {
  // background-image: url('../assets/illustrations/04_Native_Website_Howitworks_Banner_V5.png');
  img {
    @media (max-width: 1200px) {
      padding-top: 150px;
    }
    @media (max-width: $tablet) {
      padding-top: 200px;
    }
    @media (max-width: $phone) {
      padding-top: 250px;
    }
  }
  .contents {
    right: 150px;
    padding-top: 0px;
    padding-left: 0px;
    top: 120px;
    max-width: 33%;
    text-align: right;
    @media (max-width: $tablet) {
      text-align: left;
      right: 25px;
      max-width: 100%;
      padding-left: 25px;
    }
  }
}

.how-it-works__steps {
  background-color: $ntv-cream;
  .intro {
    padding-top: 50px;
  }
  .step-one {
    margin-top: 0px;
    .contents {
      .column:nth-child(1) {
        padding: 50px;
        @media (max-width: $tablet) {
          padding-top: 0px;
          margin-top: -50px;
        }
      }
      .column:nth-child(2) {
        background-image: url('../assets/illustrations/10_Native_Website_Howitworks_Vote_Build_stand_v01_OL.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 550px;
      }
    }
  }
  .step-two {
    .contents {
      @media (max-width: $tablet) {
        flex-direction: column-reverse;
      }
      .column:nth-child(1) {
        background-image: url('../assets/illustrations/09_Native_Website_Howitworks_Vote_What_flavor_v03_OL.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 550px;
      }
      .column:nth-child(2) {
        padding: 50px;
        @media (max-width: $tablet) {
          padding-top: 0px;
          margin-top: -50px;
        }
      }
    }
  }
  .step-three {
    .contents {
      padding-bottom: 50px;
      .column:nth-child(1) {
        padding: 50px;
        @media (max-width: $tablet) {
          padding-top: 0px;
          margin-top: -50px;
        }
      }
      .column:nth-child(2) {
        background-image: url('../assets/illustrations/08_Native_Website_Howitworks_DesigntheStand_v02_OL.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 550px;
      }
    }
  }
}

.how-it-works__curator {
  position: relative;
  padding: 100px 0px 0px 0px;
  .white-paper {
    color: #fff;
    background-color: $ntv-sky;
    max-width: 600px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -60px;
    padding: 35px;
    .column {
      float: left;
      width: 75%;
      display: inline-block;
      @media (max-width: $phone) {
        width: 100%;
        float: none;
        display: block;
        text-align: center;
      }
    }
    img {
      width: 120px;
      float: right;
      padding-right: 25px;
      padding-left: 25px;
      @media (max-width: $phone) {
        text-align: center;
        margin: 0px auto;
        float: none;
        position: relative;
        display: block;
        margin-top: 40px;
      }
    }
  }
}

.footer__spacer {
  background-color: #333;
  height: 60px;
  width: 100%;
  padding: 0px;
  margin: 0;
}
