@import '../layouts/variables.scss';


//

.project__hero {
  // background-image: url('../assets/illustrations/06_Native_Website_SpaceStation_Banner_v09.png');
  .contents {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0px;
    padding-left: 0px;
    color: #fff;
    max-width: 33%;
    @media (max-width: $tablet) {
      left: 0;
      top: 120px;
      transform: translate(0%, 0%);
      margin-top: 0px;
      max-width: 100%;
      padding: 20px;
      color: #333;
    }
    @media (max-width: $phone) {
      left: 0;
      top: 120px;
      transform: translate(0%, 0%);
      margin-top: 0px;
      max-width: 100%;
      padding: 20px;
    }
  }
  img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    @media (max-width: 1200px) {
      padding-top: 0px;
    }
    @media (max-width: $tablet) {
      padding-top: 250px;
    }
    @media (max-width: $phone) {
      padding-top: 300px;
    }
  }
}

.project__start {
  background-color: $ntv-cream-dark;
  position: relative;
  .contents {
    padding: 25px;
    @media (max-width: $tablet) {
      padding-bottom: 420px;
    }
    @media (max-width: $phone) {
      padding-bottom: 150px;
    }
  }
  .devicesImage {
    position: absolute;
    right: 0;
    bottom: -25px;
    max-width: 45%;
    @media (max-width: $tablet) {
      bottom: -50px;
      max-width: 100%;
    }
  }
  input {
    background-color: rgba(0,0,0,.05);
    margin: 0px;
    margin-right: 15px;
  }
}

.project__timeline {
  display: block;
  flex-wrap: wrap;
  padding: 100px 0px 50px;
  h4 { flex-basis: 100%; text-align: center; }
  img {
    display: block; margin: 0 auto; max-width: 1200px; width: 100%;
    @media (max-width: $tablet) {
      width: 100%;
      height: 100%;
      padding-bottom: 25px;
      margin: 0;
    }
    @media (max-width: $phone) {
      transform: rotate(90deg);
      width: 50px;
      height: auto;
      position: absolute;
      left: 0;
    }
  }
  .contents {
    max-width: 1200px;
    padding: 0px 100px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
    @media (max-width: $tablet) {
      padding: 0px 50px;
    }
    @media (max-width: $phone) {
      flex-direction: column;
    }
    .item {
      width: 20%;
      text-align: center;
      font-size: .85em;
      margin: 0;
      padding: 0px;
      @media (max-width: $phone) {
        width: 100%;
      }
      h6 { color: $ntv-primary; margin: 0;}
      p { line-height: 1.25em;}
    }
  }
}

.project__culture {
  background-color: $ntv-cream-dark;
  flex-direction: column;
  padding: 100px 0px 50px;
  .contents {
    @media (max-width:$tablet) {
      flex-direction: column;
    }
    padding: 0px 25px;
    .column {
      text-align: center;
      flex-basis: 33%;
      img {
        max-width: 140px;
        height: auto;
      }
      h6 {
        color: $ntv-primary;
      }
    }
  }
}

.project__community, .project__advisors {
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  p { max-width: 600px; text-align: center; padding: 0px 25px 50px 25px;}
}

.project__community .members .member:nth-child(10) {
  margin-left: auto;
  @media (max-width: $tablet) {
    margin-left: 0px;
  }
}

.project__community .members .member:nth-child(11) {
  margin-right: auto;
    padding-left: 3%;
    @media (max-width: $tablet) {
      padding-left: 0px;
      margin-right: 0px;
    }
}

.project__advisors {
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: $ntv-cream-dark;
}

.project__partners {
  background-color: $ntv-cream;
  padding: 100px 0px 100px 0px;
  flex-direction: column;
  h3 {
    margin-bottom: 100px; padding: 25px;
  }
  .items {
    position: relative;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    img {
      display: inline-block;
      padding: 0px 25px;
    }
  }
}

// Team Member Lists

.members {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;

  max-width: 800px;
  margin: 0 auto;
  .member {
    width: 100%;
    height: 240px;
    flex-basis: 30%;
    margin-bottom: 3%;
    position: relative;
    flex-direction: column;
    @media (max-width: $tablet) {
      flex-basis: 47%;
      height: 320px;
    }
    @media (max-width: $phone) {
      flex-basis: 100%;
    }
    .member-photo {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      // filter: grayscale(100%);
    }
    .contents {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .15s linear;
      background-color: rgba(166,191,76,0);
      color: #fff;
      &:hover {
        opacity: 1;
        background-color: rgba(166,191,76,.8);
      }
      h5 {
        text-align: center;
        width: 100%;
        font-size: 1.25em;
        margin: 0;
        font-weight: 400;
        margin-bottom: 5px;
      }
      h6 {
        font-size: 1em;
        font-weight: 100;
        text-align: center;
        width: 100%;
        margin: 5px 0;
        text-transform: none;
      }
    }
  }
}


// Project Inspiration

.project__inspiration {
  background-color: $ntv-cream-dark;
  position: relative;
  padding: 50px 0px 50px 0px;
  text-align: center;
  .recommendation {
    padding: 20px 0px 20px 0px;
    background-color: $ntv-cream-darker;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
  }
}
