@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../../layouts/variables.scss";

.Communities {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $ntv-cream-dark;
}

.Communities__header {
  display: flex;
  margin-top: 100px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.Communities__header--text {
  flex: 0 1 50%;
}

.Communities__header--links {
  flex: 0 1 auto;
}

.Communities__header--links a {
  margin-right: 1.5em;
  cursor: pointer;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  opacity: 0.5;
  &.active--current {
    opacity: 1;
    border-bottom: 2px solid $ntv-action;
  }

  &.active--future {
    opacity: 1;
    border-bottom: 2px solid $ntv-action;
  }
}


.Communities__carousel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // gradient
  .slick-slider {
    background-size: 100%;
    background: rgba(243, 242, 237, 1);
    background: -moz-linear-gradient(left, rgba(243, 242, 237, 1) 0%, rgba(243, 242, 237, 1) 9%, rgba(249,249,244,0) 50%, rgba(243, 242, 237, 1) 95%, rgba(243, 242, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243, 242, 237, 1)), color-stop(9%, rgba(243, 242, 237, 1)), color-stop(50%, rgba(249,249,244,0)), color-stop(95%, rgba(243, 242, 237, 1)), color-stop(100%, rgba(243, 242, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(243, 242, 237, 1) 0%, rgba(243, 242, 237, 1) 9%, rgba(249,249,244,0) 50%, rgba(243, 242, 237, 1) 95%, rgba(243, 242, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(243, 242, 237, 1) 0%, rgba(243, 242, 237, 1) 9%, rgba(249,249,244,0) 50%, rgba(243, 242, 237, 1) 95%, rgba(243, 242, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(243, 242, 237, 1) 0%, rgba(243, 242, 237, 1) 9%, rgba(249,249,244,0) 50%, rgba(243, 242, 237, 1) 95%, rgba(243, 242, 237, 1) 100%);
    background: linear-gradient(to right, rgba(243, 242, 237, 1) 0%, rgba(243, 242, 237, 1) 9%, rgba(249,249,244,0) 50%, rgba(243, 242, 237, 1) 95%, rgba(243, 242, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f4', endColorstr='#f9f9f4', GradientType=1 );
  }
  .slick-slide {
    outline: none;
  }
}

button.slick-arrow .slick-prev {
  color: black;
  background: none;
}

.CommunityCard {
  background-color: rgba(255,255,255,1);
  margin: 0px 25px 0px 0px;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 180px;
    position: relative;
    &:before {
      position: absolute;
      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-gradient(linear,left bottom,left top, from(var(--transparent-black-100)), color-stop(60%,var(--transparent-black-0)));
      background: -webkit-linear-gradient(bottom,var(--transparent-black-100),var(--transparent-black-0) 60%);
      background: -o-linear-gradient(bottom,var(--transparent-black-100),var(--transparent-black-0) 60%);
      background: linear-gradient(0deg,var(--transparent-black-100),var(--transparent-black-0) 60%);
    }
    .row {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 15px;
      margin: 0;
      text-align: left;
      .tag {
        font-size: .85em;
        padding: 3px 15px;
        margin: 0px 0px 5px 0px;
        background-color: $ntv-sky;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      h4 {
        margin: 0;
        font-size: 1.5em;
      }
      .location {
        font-size: .85em;
        margin: 0;
      }
    }
  }
  .copy {
    padding: 15px;
    font-size: .75em;
    text-align: left;
  }
  transform: scale(1);
  transition: scale .1s linear;
}

.CommunityCard--center {
  opacity: 1;
  transform: scale(1.25);
}

.carousel--actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  button:first-child {
    margin-right: 15px;
    margin-left: -15px;
  }
}
