@import './variables.scss';

// layouts

// --- page page__wrapper

.page__wrapper {
  margin-top: -100px;
}

// --- hero

.hero {
  width: 100%;
  background-color: $ntv-cream;
  background-image: url('../assets/home__hero.png');
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
  .contents {
    padding-top: 150px;
    padding-left: 150px;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 33%;
  }
}


// --- Utils

.spacer {
  flex-grow: 1;
}
